<!-- HEADER FILE -->
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" data="home"><img class="logo-img" src="../../images/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link p-2" data="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" data="portfolio">Portfoilo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" data="services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" data="team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" data="blog" id="blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" data="gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" data="events">Events</a>
                    </li>
                    <li id="login" class="nav-item">
                        <a class="nav-link" data="login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

